In [17]:
# import pakages
import downstream as dst
import calculation as calc
import upstream as upst
import os
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [18]:
# get the data with the API
upst.get_fx()

In [20]:
# load the data
data=dst.load_data()

In [21]:
# get a dataframe of the data
table=dst.preprocess_data_log_returns(data)

In [16]:
# calculate Variance
var_table=table.var()
var_table=pd.DataFrame(var_table)
#var_table.columns=['Variance']
var_table

               0
CHFUSD  0.000016
CHFEUR  0.000008
CHFGBP  0.000028
CHFJPY  0.000016
CHFAUD  0.000039
CHFNZD  0.000062
CHFCAD  0.000027
CHFNOK  0.000070
CHFSEK  0.000023

In [8]:
# calculate ES
es_table=calc.expected_shortfall(table, alpha=0.05)
es_table

,CHFUSD,CHFEUR,CHFGBP,CHFJPY,CHFAUD,CHFNZD,CHFCAD,CHFNOK,CHFSEK
0,-0.009797,-0.007036,-0.011182,-0.008227,-0.015058,-0.014231,-0.012587,-0.018147,-0.01093